.side-nav{
  background: #119ec3;
  /*[Background color]*/
  background: -moz-linear-gradient(top, #119ec3 0%, #1cd193 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #119ec3), color-stop(100%, #1cd193));
  background: -webkit-linear-gradient(top, #119ec3 0%, #1cd193 100%);
  background: -o-linear-gradient(top, #119ec3 0%, #1cd193 100%);
  background: -ms-linear-gradient(top, #119ec3 0%, #1cd193 100%);
  background: linear-gradient(to bottom, #119ec3 0%, #1cd193 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#119ec3', endColorstr='#1cd193', GradientType=0 );
  /*End [Background color]*/
}

.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

li{
  color: white;
}

a{
  color:white;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
    top: -10px;
    left: 0;
    height: 18px;
}
